.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .begin-button, .mistake-button {
    background-color: #f59e0b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 30px 30px;
    cursor: pointer;
  }
  
  .mistake-button {
    background-color: #f59e0b;
  }