.main-container {
  width: 100%;
  display: flex;
  height: 100vh;
  background-color: #f59e0b;


    h1 {
      font-size: 28px;
      font-weight: 800;
      margin-left: 10px;
      color: #333;
    }
    
    .main-content{
      width: 80%;
      padding: 30px;
      background-color: white;
    }

    .questions{
      background-color: #fafafa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .questions label{        
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: 600;
      margin: 10px;
      }

  .generate-questions{
      background-color: #f59e0b;
      color: white;
      border: 10px black;
      border-radius: 4px;
      padding:10px;
      cursor: pointer;
      font-size: 18px;
      text-decoration:solid;
      margin: 10px;
  }
  iframe{
      position: relative;
  }
  button{
    background-color: #f59e0b;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    
}
.btn{
  float: right;
    background-color: #f59e0b;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.input-fields {
  padding: 10px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
}

